<section class="form-simple">
  <mdb-card>
    <!--Header-->>
    <div class="deader pt -3 grey lighten-2">
      <div class="row d-flex justify-content-start">
        <h3 class= "deep-grey-test mt-3 mb-4 pb-1 mx-5">Member log in</h3>>
      </div>
    </div>
    <!--HeaderEnd-->

    <mdb-card-body class="mx-4 mt-4">

      <!--Body-->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="md-form">
          <input type="text" formControlName="email" id="email" class="form-control" [ngClass]="{'is-invalid': submitted && f.email.errors}" mdbInput>
          <label for="email">Your email</label>
          <mdb-error *ngIf="submitted && f.email.errors">Not a valid email</mdb-error>
        </div>

        <div class="md-form pb-3">
          <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" mdbInput>
          <label for="password">Your password</label>
          <mdb-error *ngIf="submitted && f.password.errors">Password required</mdb-error>
          <p class="font-small grey-text d-flex justify-content-end">Forgot
            <a href="#" class="dark-grey-text font-weight-bold ml-1"> Password?</a>
          </p>
        </div>

        <div class="text-center mb-4">
          <button [disabled]="loading" type="button" mdbBtn color="danger" block="true" class="z-depth-2">Log in</button>
        </div>
      </form>
      <p class="font-small grey-text d-flex justify-content-center">Don't have an account?
          <a routerLink"/register" class="dark-grey-text font-weight-bold ml-1"> New account registration</a>
      </p>
    </mdb-card-body>
  </mdb-card>
</section>
